<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="MaxSearchLength" value="37" />
        <add key="FrequencyList" value="VN" />
        <add key="KanjiMode" value="false" />
        <add key="LookupRate" value="0" />

        <add key="MainWindowOpacity" value="30" />
        <add key="MainWindowBackgroundColor" value="#FF000000" />
        <add key="MainWindowTextColor" value="#FFFFFFFF" />
        <add key="MainWindowBacklogTextColor" value="#FFFFE4C4" />
        <add key="MainWindowFontSize" value="40" />
        <add key="MainWindowFont" value="Meiryo" />
        <add key="MainWindowHeight" value="300" />
        <add key="MainWindowWidth" value="1200" />
        <add key="MainWindowTopPosition" value="100" />
        <add key="MainWindowLeftPosition" value="100" />

        <add key="PopupBackgroundColor" value="#FF000000" />
        <add key="PopupOpacity" value="100" />
        <add key="PopupPrimarySpellingColor" value="#FFD2691E" />
        <add key="PopupPrimarySpellingFontSize" value="19" />
        <add key="PopupReadingColor" value="#FFDAA520" />
        <add key="PopupROrthographyInfoColor" value="#FFDAA520" />
        <add key="PopupReadingFontSize" value="17" />
        <add key="PopupROrthographyInfoFontSize" value="17" />
        <add key="PopupAlternativeSpellingColor" value="#FFFFFFFF" />
        <add key="PopupAOrthographyInfoColor" value="#FFFFFFFF" />
        <add key="PopupAlternativeSpellingFontSize" value="15" />
        <add key="PopupAOrthographyInfoFontSize" value="15" />
        <add key="PopupDefinitionColor" value="#FFFFFFFF" />
        <add key="PopupDefinitionFontSize" value="15" />
        <add key="PopupFrequencyColor" value="#FFFFFFFF" />
        <add key="PopupFrequencyFontSize" value="15" />
        <add key="PopupDeconjugationInfoColor" value="#FFFFFFFF" />
        <add key="PopupDeconjugationInfoFontSize" value="15" />

        <add key="PopupMaxWidth" value="700" />
        <add key="PopupMaxHeight" value="520" />
        <add key="PopupXOffset" value="10" />
        <add key="PopupYOffset" value="20" />
        <add key="PopupFlip" value="Y" />
        <add key="PopupSeparatorColor" value="#FFFFFFFF" />

        <add key="AnkiConnectUri" value="http://localhost:8765" />
        <add key="ForceAnkiSync" value="false" />

        <add key="MiningModeKeyGesture" value="M" />
        <add key="PlayAudioKeyGesture" value="P" />
        <add key="KanjiModeKeyGesture" value="K" />
        <add key="ShowPreferencesWindowKeyGesture" value="L" />
        <add key="ShowAddNameWindowKeyGesture" value="N" />
        <add key="ShowAddWordWindowKeyGesture" value="W" />
        <add key="SearchWithBrowserKeyGesture" value="S" />
        <add key="TransparentModeKeyGesture" value="T" />
        <add key="SteppedBacklogBackwardsKeyGesture" value="Left" />
        <add key="SteppedBacklogForwardsKeyGesture" value="Right" />

    </appSettings>
</configuration>