<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="MaxSearchLength" value="37" />
        <add key="FrequencyListName" value="VN" />
        <add key="KanjiMode" value="false" />
        <add key="LookupRate" value="0" />
        <add key="InactiveLookupMode" value="false" />

        <add key="MainWindowOpacity" value="30" />
        <add key="MainWindowBackgroundColor" value="#FF000000" />
        <add key="MainWindowTextColor" value="#FFFFFFFF" />
        <add key="MainWindowFontSize" value="40" />
        <add key="MainWindowFont" value="Meiryo" />
        <add key="MainWindowHeight" value="300" />
        <add key="MainWindowWidth" value="1200" />
        <add key="MainWindowTopPosition" value="100" />
        <add key="MainWindowLeftPosition" value="100" />
        <add key="MainWindowBacklogTextColor" value="#FFFFE4C4" />

        <add key="PopupBackgroundColor" value="#FF000000" />
        <add key="PopupOpacity" value="100" />
        <add key="PrimarySpellingColor" value="#FFD2691E" />
        <add key="PrimarySpellingFontSize" value="19" />
        <add key="ReadingsColor" value="#FFDAA520" />
        <add key="ROrthographyInfoColor" value="#FFDAA520" />
        <add key="ReadingsFontSize" value="17" />
        <add key="ROrthographyInfoFontSize" value="17" />
        <add key="AlternativeSpellingsColor" value="#FFFFFFFF" />
        <add key="AOrthographyInfoColor" value="#FFFFFFFF" />
        <add key="AOrthographyInfoFontSize" value="17" />

        <add key="AlternativeSpellingsFontSize" value="15" />
        <add key="POrthographyInfoColor" value="#FFFFFFFF" />
        <add key="POrthographyInfoFontSize" value="17" />
        <add key="DictTypeColor" value="#FFADD8E6" />
        <add key="DictTypeFontSize" value="15" />
        <add key="InactiveLookupModeKeyGesture" value="Q" />

        <add key="DefinitionsColor" value="#FFFFFFFF" />
        <add key="DefinitionsFontSize" value="15" />
        <add key="FrequencyColor" value="#FFFFFFFF" />
        <add key="FrequencyFontSize" value="15" />
        <add key="DeconjugationInfoColor" value="#FFFFFFFF" />
        <add key="DeconjugationInfoFontSize" value="15" />

        <add key="PopupMaxWidth" value="700" />
        <add key="PopupMaxHeight" value="520" />
        <add key="PopupDynamicWidth" value="false" />
        <add key="PopupDynamicHeight" value="false" />
        <add key="PopupFont" value="Meiryo" />

        <add key="PopupXOffset" value="10" />
        <add key="PopupYOffset" value="20" />
        <add key="PopupFlip" value="Y" />
        <add key="SeparatorColor" value="#FFFFFFFF" />

        <add key="AnkiConnectUri" value="http://localhost:8765" />
        <add key="ForceSyncAnki" value="false" />

        <add key="MiningModeKeyGesture" value="M" />
        <add key="PlayAudioKeyGesture" value="P" />
        <add key="KanjiModeKeyGesture" value="K" />
        <add key="ShowPreferencesWindowKeyGesture" value="L" />
        <add key="ShowAddNameWindowKeyGesture" value="N" />
        <add key="ShowAddWordWindowKeyGesture" value="W" />
        <add key="SearchWithBrowserKeyGesture" value="S" />
        <add key="SteppedBacklogBackwardsKeyGesture" value="Left" />
        <add key="SteppedBacklogForwardsKeyGesture" value="Right" />
        <add key="MousePassThroughModeKeyGesture" value="T" />

    </appSettings>
</configuration>