<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MainWindowOpacity" value="0.3" />
		<add key="MainWindowBackgroundColor" value="#FF000000" />
		<add key="MainWindowTextColor" value="#FFFFFFFF" />
		<add key="MainWindowFontSize" value="70" />
		<add key="MainWindowHeight" value="300" />
		<add key="MainWindowWidth" value="1200" />
		<add key="MainWindowTopPositon" value="100" />
		<add key="MainWindowLeftPosition" value="100" />
		<add key="MaxSearchLength" value= "37" />
	</appSettings>
</configuration>